<div class="card">
    <h4 class="card-header">Cadastro de Perfil</h4>
    <div class="card-body">
     
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" [(ngModel)]="perfil.nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && perfil.nome }" />
             
            </div>
           

            <cadastro-permissao (permissaoinserida)="inserirlista($event)"></cadastro-permissao>


          
    </div>


    <div class="card-footer text-muted">
        <button [disabled]="loading" (click)="SalvarPerfil()" class="btn btn-primary">
            <span *ngIf="loading"  class="spinner-border spinner-border-sm me-1"></span>
            Salvar perfil
        </button>
      </div>
    
</div>